@model Skyline.Console.ApplicationCore.VO.UserVO
@{
    var userTypeDict = ViewData["UserType"] as Dictionary<int, string>;
}
@section Header{
    <style>
        .layui-form {
            margin-top: 10px;
        }

        .skyline-required-star {
            color: red;
            font-size: 18px;
        }
    </style>
}

<form class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">登录名</label>
            <div class="layui-input-inline">
                <input id="loginName" type="text" required lay-verify="userName" placeholder="请输入登录名" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux" style="color:red"><label class="skyline-required-star">*</label></div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-inline">
                <input id="nickName" type="text" required lay-verify="userName" placeholder="请输入昵称" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux" style="color:red"><label class="skyline-required-star">*</label></div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input id="password" type="text" required lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux" style="color:red"><label class="skyline-required-star">*</label></div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">生日</label>
            <div class="layui-input-inline">
                <input id="dob" type="text" placeholder="请输入出生日期" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux" style="color:red"><label class="skyline-required-star"></label></div>
        </div>

    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户类别</label>
            <div class="layui-input-inline">
                <select id="type">
                    @foreach (var ut in userTypeDict)
                    {
                        <option value="@ut.Key">@ut.Value</option>
                    }
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux" style="color:red"><label class="skyline-required-star"></label></div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="button" lay-submit="" class="layui-btn" id="btn-save" value="保存" />
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        $(function () {
            initVerify();
        });
        $('#btn-save').click(function () {
            var params = {
                loginName: $('#loginName').val(),
                nickName: $('#nickName').val(),
                password: $('#password').val(),
                DOB: $('#dob').val(),
                type: $('#type').val(),
            }
            $.ajax({
                url: '/User/Add',
                type: 'post',
                data: params,
                async: false,
                success: function (result) {
                    if (result.code == 1) {
                        var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                        parent.layer.close(index);

                    } else {
                        layer.msg(result.message);
                    }
                }
            })
        });
        function initVerify() {
            layui.use(['form', 'laydate'], function () {
                var form = layui.form;
                var layer = layui.layer;
                var laydate = layui.laydate;

                // 日期
                laydate.render({
                    elem: '#dob',
                    value:'@DateTime.Now.AddYears(-18).ToString("yyyy-MM-dd")'
                });

                // 自定义验证规则
                form.verify({
                    userName: function (value) {
                        if (value.length < 2) {
                            return '用户名至少得2个字符';
                        }
                        if (value.length > 12) {
                            return '用户名最多12个字符';
                        }
                    }
                    , pass: [
                        /^[\S]{6,12}$/
                        , '密码必须6到12位，且不能出现空格'
                    ]
                    , content: function (value) {
                        layedit.sync(editIndex);
                    }
                });

            });
        }

    </script>
}