
@{
    ViewData["Title"] = "Index";
}
<h1>Contacts</h1>

<table>
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                Address
            </td>
            <td>
                Province
            </td>
            <td>
                City
            </td>
            <td>
                EMail
            </td>
            <td>
                Mobile Number
            </td>
            <td>
                Status
            </td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>