
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="text-align:left">检索条件：</label>
                    <div class="layui-input-block">
                        <input id="edt-search" type="text" placeholder="关键字" class="layui-input" />
                    </div>
                </div>

                <div class="layui-inline">
                    <button id="btn-search" class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-user-back-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button id="btn-add" class="layui-btn layuiadmin-btn-admin" data-type="add">
                    添加
                </button>
            </div>
            <table id="menu-table" class="layui-table" lay-filter="menu-table"></table>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(function () {
            renderTable();

            // 新建菜单事件绑定
            $('#btn-add').on("click", function () {
                addMenu();
            });
        });

        var renderTable = function () {
            var table = layui.table;
            table.render({
                elem: '#menu-table',
                page: true,
                limit: 10,
                limits: [10, 20, 50, 100],
                url: '/Menu/Table',
                cellMinWidth: 80, // 全局定义常规单元格的最小宽度，layui 2.2.1 新增,
                cols: [[
                    { field: 'id', title: 'ID', sort: true, hide: true },
                    { field: 'name', title: '菜单名称' },
                    { field: 'url', title: '地址', sort: true },
                    { field: 'parentId', title: '父级菜单ID', sort: true, hide: true },
                    { field: 'parentName', title: '父级菜单', sort: true },
                    { field: 'icon', title: '图标', align: 'center', templet: '#iconTpl', width: 60 }, //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    { field: 'status', title: '状态', align: 'center', templet: '#statusTpl', width: 80 },
                    { field: 'isDeleted', title: '已删除', align: 'center', templet: '#isDelTpl2', width: 80 },
                    { field: 'lastModifyTime', title: '修改时间', templet: '#lastModifyTimeTpl' },
                    { field: 'lastModifyUserLoginName', title: '修改人' },
                    { fixed: 'right', title: '操作', toolbar: '#opTpl', width: 150 }
                ]]
            });
            // 监听行工具事件
            table.on('tool(menu-table)', function (obj) {   // 注：tool 是工具条事件名，menu-table 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data;
                if (obj.event === 'del') {
                    delMenu(data.id);
                } else if (obj.event === 'edit') {
                    editMenu(data.id);
                }
            });
        };


        function addMenu() {
            //$.openLayer("新增菜单", "/Menu/Add",
            //    function () {
            //        renderTable();
            //    }, 800, 580, true);
            layer.open({
                type: 2,
                title: '新增菜单',
                content: '/Menu/Add',
                area: ['800px', '580px'],
                end: function () {
                    renderTable();
                }
            });
        }

        function editMenu(id) {
            $.openLayer("编辑菜单", "/Menu/Edit?id=" + id,
                function () {
                    renderTable();
                }, 800, 580);
        }

        function delMenu(id) {
            var params = {
                id: id
            };
            $.Delete('Menu/Delete', params, function () {
                renderTable();
            })
        }

    </script>

    <script type="text/html" id="iconTpl">
        <a href="javascript:;">
            <i class="layui-icon {{d.icon}}"></i>
        </a>
    </script>
    <script type="text/html" id="isDelTpl">
        <input disabled type="checkbox" name="isDeleted" value="{{d.isDeleted}}" lay-skin="switch" lay-text="是|否" lay-filter="isDeleted" {{ d.isDeleted == 1 ? 'checked' : '' }}>
    </script>
    <script type="text/html" id="isDelTpl2">
        {{#  if(d.isDeleted == 1){ }}
        <span class="layui-badge">是</span>
        {{#  } else { }}
        <span class="layui-badge layui-bg-green">否</span>
        {{#  } }}
    </script>
    <script type="text/html" id="statusTpl">
        {{#  if(d.status == 1){ }}
        <span class="layui-badge layui-bg-green">正常</span>
        {{#  } else if(d.status == 0) { }}
        <span class="layui-badge">禁用</span>
        {{#  } else { }}
        <span class="layui-badge layui-bg-gray">未指定</span>
        {{#  } }}
    </script>
    <script type="text/html" id="lastModifyTimeTpl">
        {{# var localTime=UTCToLocalTime(d.lastModifyTime)}}
        {{# var date=dateFormat('yyyy-MM-dd HH:mm:ss',new Date(localTime))}}
        {{ date }}
    </script>
    <script type="text/html" id="opTpl">
        <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i></a>
    </script>
}