
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="text-align:left">检索条件：</label>
                    <div class="layui-input-block">
                        <input id="edt-search" type="text" placeholder="关键字" class="layui-input" />
                    </div>
                </div>

                <div class="layui-inline">
                    <button id="btn-search" class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-user-back-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <table id="menu-table" class="layui-table" lay-filter="Menu-table"></table>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#menu-table',
                page: true,
                limit: 10,
                limits: [10, 20, 50, 100],
                url: '/menu/table',
                cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增,
                cols: [[
                    { field: 'id', title: 'ID', sort: true },
                    { field: 'name', title: '菜单名称' },
                    { field: 'url', title: '地址', sort: true },
                    { field: 'parentId', title: '父级菜单ID', sort: true },
                    { field: 'parentName', title: '父级菜单', sort: true },
                    { field: 'icon', title: '图标', align: 'center', templet: '#iconTpl', width: 60 }, //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    { field: 'status', title: '状态', templet: '#statusTpl', width: 80 },
                    { field: 'isDeleted', title: '已删除', templet: '#isDelTpl', width: 80 },
                    { field: 'lastModifyTime', title: '修改时间' },
                    { field: 'lastModifyUserLoginName', title: '修改人' }
                ]]
            });
        });
    </script>

    <script type="text/html" id="iconTpl">
        <a href="javascript:;">
            <i class="layui-icon {{d.icon}}"></i>
        </a>
    </script>
    <script type="text/html" id="isDelTpl">
        <input disabled type="checkbox" name="isDeleted" value="{{d.isDeleted}}" lay-skin="switch" lay-text="是|否" lay-filter="isDeleted" {{ d.isDeleted == 1 ? 'checked' : '' }}>
    </script>
    <script type="text/html" id="statusTpl">
        {{#  if(d.status == 1){ }}
        <span class="layui-badge layui-bg-green">正常</span>
        {{#  } else if(d.status == 0) { }}
        <span class="layui-badge">禁用</span>
        {{#  } else { }}
        <span class="layui-badge layui-bg-gray">未指定</span>
        {{#  } }}
    </script>
}